<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsu4X6J7h1T9Nq9DxYFvFVDYhyr-eA1g8</string>
	<key>GCM_SENDER_ID</key>
	<string>208094785655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireBase</string>
	<key>PROJECT_ID</key>
	<string>learnfirebase-5f926</string>
	<key>STORAGE_BUCKET</key>
	<string>learnfirebase-5f926.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208094785655:ios:7ec47600dae8bfadfed672</string>
</dict>
</plist>